{**
 * Layout for tab of Session Debug panel
 *
 * @author Pavel Železný <pavel.zelezny@socialbakers.com>
 *
 * @param string $basePath Path to directory where compnent is situated
 *}
<span title="Panel to show information about cache and session content">
	<img alt="http://twooki.es/twookies/templates/rt_quantive_j15/images/icons/cookie.png"
		 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAB3RJTUUH2gUCCDcssVRPfQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAARnQU1BAACxjwv8YQUAAAE5SURBVHjafVOrdoNAFNzlRJBPiCQOXG0/g8jIxKUuthJb17oiI0H2E4hrXXBF9hMad8ssGbgsoXPOHh57Z3buXLAiYiY4J1JfGlN/rUz88NO/jne/1i8N9MP+0QoWyHESDcTbfZ0vBUtzFpqsNyCSbiNTnlbtU+PeveRXdz2apdBNQOXjLjRVW1c1YxHdApHsr4ZO7OU9FFi81zPtY0+Ti0PU11mpYtEFRG+3dXZPDIe5FvzANHkOJA8ZeKoE84AgVnnqhNNt5wptBCzQ/TPMIgtHbjZvnSKFwFnoE9EKNotsCBIZIDigDXyobQ+bCMxBE/0c3BjniP4k6PC5aEy2iUz6+m0DfFF9BhiTCjI/d2ROib2DTFj+TOXTWj4+m8ns/ckQOH0k4Ipvn6dPomWfPBEg4Oa/UzX+ALHLvq5ibhZhAAAAAElFTkSuQmCC" />
</span>